In [2]:
import pandas as pd

filtered_chains_df= pd.read_csv('chicago_food_inspections/filtered_chains.csv')
filtered_chains_df.head()

,Unnamed: 0,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,269,2346124,MCDONALD'S,MCDONALD'S,1332927.0,Restaurant,Risk 2 (Medium),2438 W CERMAK RD,CHICAGO,IL,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.852125,-87.687282,"{'latitude': '-87.68728216490156', 'longitude'...",NaN,NaN,NaN,NaN,NaN
1,293,2346050,MCDONALD'S,MCDONALD'S #5293,2694085.0,Restaurant,Risk 2 (Medium),8321 S ASHLAND AVE,CHICAGO,IL,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.742421,-87.663091,"{'latitude': '-87.6630911433338', 'longitude':...",NaN,NaN,NaN,NaN,NaN
2,306,2346054,MCDONALD'S,MCDONALD'S,2423993.0,Restaurant,Risk 2 (Medium),8321 S ASHLAND AVE,CHICAGO,IL,...,Out of Business,NaN,41.742421,-87.663091,"{'latitude': '-87.6630911433338', 'longitude':...",NaN,NaN,NaN,NaN,NaN
3,574,2345583,MCDONALD'S,McDONALD'S,2578350.0,Restaurant,Risk 2 (Medium),2005 W Chicago AVE,CHICAGO,IL,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.895797,-87.677323,"{'latitude': '-87.67732279971976', 'longitude'...",NaN,NaN,NaN,NaN,NaN
4,979,2320903,MCDONALD'S,MCDONALDS #27672,1518455.0,Restaurant,Risk 2 (Medium),5200 S LAKE PARK AVE,CHICAGO,IL,...,Pass,NaN,41.800942,-87.587637,"{'latitude': '-87.58763679215699', 'longitude'...",NaN,NaN,NaN,NaN,NaN

In [4]:
filtered_chains_df.columns

Index(['Unnamed: 0', 'Inspection ID', 'DBA Name', 'AKA Name', 'License #',
       'Facility Type', 'Risk', 'Address', 'City', 'State', 'Zip',
       'Inspection Date', 'Inspection Type', 'Results', 'Violations',
       'Latitude', 'Longitude', 'Location', 'Historical Wards 2003-2015',
       'Zip Codes', 'Community Areas', 'Census Tracts', 'Wards'],
      dtype='object')